<div mat-dialog-content class="conteiner">
  Olá tudo bem? Ao adicionar um novo animal, você se tornará responsável por
  entrar em contato com nosco através do telefone ou whatssap para informar que
  o mesmo foi adotado, caso você seja quem adotou, também nos informe para fazer
  a alteração dos status de não adotado para adotado e darmos chances a outros
  animais.
  <button
    mat-button
    mat-dialog-close
    cdkFocusInitial
    color="primary"
    style="margin-top: 30px"
  >
    Ok
  </button>
</div>
