<section id="sobre">
  <div class="sub-sobre">
    <h1>Sobre o nosso site de adoção de cachorros</h1>
    <p>
      Nosso site de adoção de cachorros tem como objetivo ajudar cães
      abandonados a encontrar um lar amoroso. Nós trabalhamos em parceria com
      organizações locais de resgate de animais para trazer cachorros resgatados
      e abandonados para adoção.
    </p>
    <p>
      Além de ajudar cães em necessidade, nossa missão é conectar pessoas com o
      companheiro perfeito para suas famílias. Acreditamos que cada cachorro
      merece um lar amoroso e responsável, e estamos comprometidos em fazer
      nossa parte para ajudar a realizar esse objetivo.
    </p>
    <p><strong>Telefone: </strong>(61) xxxxx-xxxx</p>
  </div>
</section>
